
    h1 {
        margin-top: 0;
        padding: 20px;
        width: 100%;
        position: fixed;
        top: 0;
        background-color: green;
        text-align: center;
        color: white;
    }

    body {
        padding-top: 75px; 
        background-color: #eff2f4;
    }

    #basicInfo, #currentPrice, #dayChange {
        font-weight: bold;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }


    .lineItem:hover {
        background-color: gold;
    }

    #regexError, #watchListError {
        display: none;
    }

    #top-container {
        margin-left: 5%;
    }

    #basicInfo, #details, #statistics, #other, #watchList {
        text-align: center;
    }

    #container {
        justify-content: center;
    }

    .column {
        border-style: dashed;
        border-color: goldenrod;
        border-width: 2px;
        margin-bottom: 10px;
        background-color:#eff2f4;
        margin-left: 10px;
        margin-right: 10px;
    }

    #stockList li {
        margin-left: 20px;
        margin-right: 20px;
        text-align: left;
    }

    li button {
        margin-left: 60%;
        background-color: #f44336;
        color: white;
        padding: 4px 8px;
        text-align: right;
        border-radius: 8px;
    }

    #submit, #addButton {
        color: white;
        background-color: black;
        padding: 4px 8px;
        border-radius: 8px;
    }


    h2, #watch {
        margin-left: 15px;
    }

    .lineItem {
        margin-left: 20px;
        border-bottom: red;
        border-radius: 1px;
        padding-bottom: 2px;
    }

    #other {
        display: none;
        font-weight: bold;
        text-align: center;
    }

    #other {
        padding-top: 30px;
        margin-right: auto;
        margin-left: auto;
        flex-grow: 2;
        color: goldenrod;
        border-radius: 1px;
        border-style: solid;
        background-color: black;
    }

    #heading {
        padding-top: 15px;
    }



/******************* 
MEDIA QUERIES
******************/

@media (min-width: 768px) and (max-width: 1024px) {
    body {
        /* content: ""; */
        max-height: 100%;
        background-image: url(images/longcomputer2.jpg), url(images/blkman4.jpg);
        background-size: 25% 100%, 25% 100%;
        background-repeat: no-repeat;
        background-position: right, left;
        background-position-y: center;
        background-attachment: fixed;
    }
    
    
    #top-container {
        margin-left: 30%;
    }

    #container {
        border-style: none;
    }
    

    #basicInfo, #other, #watchList {
        text-align: center;
        min-width: 30%;
        max-width: 30%;
        margin-left: 35%;
        margin-right: 35%;
    }

    #details, #statistics {
        text-align: center;
        min-width: 45%;
        max-width: 45%;
    }

    #details {
        margin-left: auto;
    }

    #statistics {
        margin-right: auto;
    }

    .column {
        border-style: dashed;
        border-color: goldenrod;
        border-width: 2px;
        margin-bottom: 10px;
        background-color:#eff2f4;
    }

    #container {
        display: flex;
        justify-content: space-between;
        justify-content: center;
        margin-right: auto;
        margin-left: auto;
        border-style: none;
        max-width: 50%;
    }

    li {
        margin-bottom: 5px;
        margin-top: 5px;
    }

}

@media (min-width: 1025px) {

    
    body {
        background-image: url(images/chart2.jpg);
        max-height: 100%;
        background-size: 1500px;
        /* background-position: bottom; */
        background-repeat: no-repeat;
        font-size: 16px;
    }
    
    #largeContainer {
        display: flex;
        justify-content: center;
        justify-content: space-around;
        margin-left: 10%;
        margin-right: 10%;
    }

    #details, #statistics {
        max-width: 100%;
        /* margin-left: 15%;
        margin-right: 15%; */
    }

    #details {
        margin-left: auto;
    }

    #statistics {
        margin-right: auto;
    }

    .column {
        border-style: dashed;
        border-color: goldenrod;
        border-width: 2.5px;
        flex-grow: 1;
        background-color:#eff2f4;
    }

    #container {
        display: flex;
        justify-content: space-around;
        margin-right: auto;
        margin-left: auto;
        border-style: none;
        flex-grow: 3;
    }

    #watchList {
        flex-grow: 1;
    }
    #details, #statistics, #watchList {
        flex:
    }

    li {
        margin-bottom: 5px;
        margin-top: 5px;
    }

    #heading {
        background-color: #eff2f4;
        margin-top: 0;
    }

    .column {
        margin-left: 0px;
        margin-right: 0px;
    }

}